@font-face {
  font-family: "Russo One", sans-serif, "montserrat";
  src: url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Russo+One&display=swap");
}

h1,
h2,
h3 {
  font-family: "Russo One", "open sans", "sans-serif";
}

p,
ul,
label,
select,
.message,
.errorMessage {
  font-family: "Open Sans", "sans-serif";
}

.cart,
.checkout,
.submit,
.toCheckout {
  font-family: "montserrat", "open sans", "sans-serif";
  font-size: 1em;
}
