body {
  font-family: "Didact Gothic", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: "Russo One", sans-serif;
}

/*.grid-area h2 {
  font-size: 5vw;
  color: rgba(2, 64, 89, 0.808);
}*/

/*p,
ul,
label,
select,
.message,
.errorMessage,
.loading-text,
strong {
  font-family: "Open Sans", "sans-serif";
}

.cart,
.checkout,
.submit,
.toCheckout {
  font-family: "montserrat", "open sans", "sans-serif";
  font-size: 1em;
}*/
