body {
  margin: 0;
  background: var(--lightGrayColor);
}

main {
  background-color: #ffffff;
  margin: 0 100px 0 100px;
}

/* Header - logo */

.logo-img {
  width: 40px;
  padding: 10px 10px 0 10px;
}

h1 {
  color: #024059;
  font-size: 40px;
  margin-bottom: 0;
}

h2 {
  color: #024059;
  font-size: 40px;
}

/* Primary navigation with icons */

.primary-nav {
  color: black;
  background-color: var(--grayColor);
  padding: 10px;
}

.primary-nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-center {
  display: flex;
}

.primary-nav li {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.primary-nav a:hover,
.fa-shopping-cart:hover {
  color: white;
}

.primary-nav a {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.2rem;
}

.fa-shopping-cart {
  color: #525252;
}

/* Page layers */

.page-layers {
  margin-top: 15em;
}

.page-layers ul {
  text-align: center;
  margin-bottom: 0;
  padding: 0;
  background-color: var(--lightGrayColor);
}

.page-layers li {
  display: inline-block;
}

.page-layers a {
  display: block;
  min-width: 12vw;
  background-color: #024059;
  color: #ffffff;
  text-decoration: none;
  padding: 5px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 1.2rem;
}

#arrow-down {
  display: none;
  border: none;
  background-color: inherit;
  color: white;

  position: absolute;
  top: 0;
  left: 0;
  margin-top: 10px;
  margin-left: 10px;
}

span {
  color: #d9a74a;
}

.fa-angle-down {
  padding: 10px;
}

.drop-down.active {
  display: block;
}

#current {
  background-color: #d9a74a;
  color: black;
}

#current-header {
  border-bottom: 2px solid var(--currentPage);
}

#cold-days,
#mensjackets,
#rainy-days,
#sunny-days,
#womensjackets {
  border: 10px solid #d9a74a;
}

.page-layers a:hover {
  background-color: #d9a74a;
  color: black;
}

#arrow-down:hover {
  color: #d9a74a;
}

/* buttons and CTA */

.cta {
  cursor: pointer;
  background: var(--ctaLinearGradient);
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  display: inline-block;
  width: 75px;
  text-align: center;
  margin: 20px 5px 0 5px;
}

button.cta,
.checkoutCta {
  width: 150px;
}

.cta:hover {
  background: var(--ctaHover);
}

/* Footer */

footer {
  color: #024059;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 50px;
}
