.message {
  display: none;
  color: green;
  text-align: center;
}

.errorMessage {
  display: none;
  color: red;
  list-style-type: none;
}

.loading-text {
  text-align: center;
}

.loading {
  margin: 0 auto;
  border-radius: 50%;
  border: 10px dashed #024059;
  height: 60px;
  width: 60px;
  animation: spinning 2s linear infinite;
}

@keyframes spinning {
  to {
    transform: rotate(360deg);
  }
}
