/* Fonts */

@font-face {
  font-family: "Russo One", sans-serif, "montserrat";
  src: url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Russo+One&display=swap");
}

h1,
h2 {
  font-family: "Russo One", "open sans", "sans-serif";
}

h3 {
  font-weight: bolder;
}

h3,
p,
ul {
  font-family: "Open Sans", "sans-serif";
  font-size: 100%;
}

/* General Styling */

body {
  background-color: #fff;
  margin-left: 5%;
  margin-right: 5%;
}

header {
  display: flex;
}

h1 a {
  font-weight: bold;
  font-size: 100px;
  color: #024059;
  text-decoration: none;
  margin-bottom: 20px;
}

.saying {
  font-weight: bold;
  color: #024059;
  font-size: 40px;
  margin-top: 20px;
}

.slogan {
  color: #024059;
}

body {
  background-image: url("../images/art-design.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 300px) {
  body {
    background-image: none;
  }
}
