@import url(../styles/imports/layout.css);
@import url(../styles/imports/fonts.css);

main {
  display: flex;
  flex-direction: column;
}

.input {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

input[type="text"] {
  margin: 10px;
  padding: 5px;
  max-height: 20px;
  border: 2px solid #7fa644;
}

input[type="tel"] {
  margin: 10px;
  padding: 5px;
  max-height: 20px;
  border: 2px solid #7fa644;
}

input[type="number"] {
  margin: 10px;
  padding: 5px;
  max-height: 20px;
  border: 2px solid #7fa644;
}

.picture {
  border: 2px solid #7fa644;
  height: auto;
  max-width: 20rem;
  margin-right: 10px;
}

.cta-buttons {
  display: grid;
  grid-column: 2;
  width: 100%;
}

.cta-button1 {
  text-decoration: none;
  background-color: #024059;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
  min-height: 40px;
  max-width: 50%;
  line-height: 40px;
}

.cta-button2 {
  text-decoration: none;
  background-color: #7fa644;
  color: #fff;
  text-align: center;
  min-height: 40px;
  max-width: 50%;
  line-height: 40px;
}

@media (min-width: 900px) {
  main {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  .right-side {
    justify-self: end;
  }
}
