@font-face {
  font-family: "Russo One", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Russo+One&display=swap");
}

h1,
h2,
h3 {
  font-family: "Russo One", "open sans", "sans-serif";
  color: #024059;
  font-style: normal;
}

p {
  font-family: "open sans", "sans-serif";
  font-size: 100%;
}

.contact-info {
  font-weight: normal;
}

body {
  background-color: #f1d5a3;
  margin-left: 5%;
  margin-right: 5%;
}

.logo {
  float: left;
  padding: 5px;
  min-width: 4%;
  min-height: 4%;
}

h1 a {
  font-weight: bold;
  font-size: 40px;
  color: #024059;
  text-decoration: none;
}

.slogan {
  color: #024059;
  bottom: 0;
  padding: 10px;
}

/* contact page */

main {
  display: flex;
  background-color: #ffffff;
}

h2 {
  text-align: center;
}

.left-side {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 3%;
  margin-right: 3%;
}

.right-side {
  display: flex;
  flex: 1;
  float: right;
  flex-direction: column;
  margin-right: 3%;
  margin-left: 3%;
}

.input {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
}

input[type="text"] {
  margin: 10px;
  padding: 5px;
  max-height: 20px;
  border: 2px solid #7fa644;
}

.button {
  color: #ffffff;
  width: 50%;
  margin: 0 auto;
  font-size: 100%;
  min-height: 45px;
  background-color: #024059;
  border: none;
}

.sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  line-height: 2px;
}
