@font-face {
  font-family: "Russo One", sans-serif, "montserrat";
  src: url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Russo+One&display=swap");
}

h1,
h2 {
  font-family: "Russo One", "open sans", "sans-serif";
}

h3 {
  font-weight: bolder;
}

h3,
p,
ul {
  font-family: "Open Sans", "sans-serif";
  font-size: 100%;
}

body {
  background-color: #f1d5a3;
  margin-left: 5%;
  margin-right: 5%;
}

/* Home Page - Header - logo */

.logo-name {
  margin-left: 0;
}

.logo {
  float: left;
  padding: 5px;
  min-width: 4%;
  min-height: 4%;
}

h1 a {
  font-weight: bold;
  font-size: 40px;
  color: #024059;
  text-decoration: none;
}

.slogan {
  color: #024059;
  padding: 10px;
}

/* Home Page - Header - Search bar */

.search-bar {
  margin: 0 auto;
  display: block;
  border: hidden;
  padding: 5px;
  text-align: center;
  width: 20%;
}

input[type="text"] {
  font-size: 20px;
  text-decoration: none;
}

/* Home Page - Header - Topright icons */

.icons {
  text-decoration: none;
  float: right;
  color: inherit;
}

a {
  color: #024059;
}

/* List of Jackets - Main - Section1 */

main {
  background-color: #ffffff;
}

.page-layers {
  text-align: center;
  background-color: #f1d5a3;
  width: 100%;
}

ul {
  max-height: 10px;
}

nav li {
  display: inline-block;
}

nav a {
  background-color: #024059;
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.page-layers a:hover {
  background-color: #7fa644;
}

.cold-days {
  background-color: #7fa644;
}

/* List of Jackets - main - Section2 */

main {
  display: grid;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  column-gap: 10px;
  row-gap: 10px;
}

.grid-item1,
.grid-item2,
.grid-item3,
.grid-item4,
.grid-item5,
.grid-item6,
.grid-item7,
.grid-item8 {
  border: 8px solid #b4d9d5;
}

@media (min-width: 350px) and (max-width: 500px) {
  .grid-container {
    grid-template-columns: 100%;
    grid-template-rows: 12% 12% 12% 12% 12% 12% 12% 12%;
  }
}
