/* Fonts */

@font-face {
  font-family: "Russo One", sans-serif, "montserrat";
  src: url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&family=Russo+One&display=swap");
}

h1,
h2 {
  font-family: "Russo One", "open sans", "sans-serif";
}

.cta-button,
.button {
  font-family: "montserrat", "open sans", "sans-serif";
}

h3 {
  font-weight: bolder;
}

h3,
p,
ul {
  font-family: "Open Sans", "sans-serif";
  font-size: 100%;
}

/* General Styling */

body {
  background-color: #f1d5a3;
  margin-left: 5%;
  margin-right: 5%;
}

/* Header - logo */

.logo-name {
  margin-left: 0;
}

.logo {
  float: left;
  padding: 5px;
  min-width: 4%;
  min-height: 4%;
}

h1 a {
  font-weight: bold;
  font-size: 40px;
  color: #024059;
  text-decoration: none;
}

.slogan {
  color: #024059;
  padding: 10px;
}

/* Header - Search bar */

.search-bar {
  margin: 0 auto;
  display: block;
  border: hidden;
  padding: 5px;
  text-align: center;
  width: 20%;
  margin-bottom: 10px;
}

input[type="text"] {
  font-size: 20px;
  text-decoration: none;
}

/* Header - icons */

.icons {
  text-decoration: none;
  float: right;
  color: inherit;
}

a {
  color: #024059;
}

/* Main */

main {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.picture {
  display: block;
  border: 5px solid #7fa644;
  max-width: 100%;
  height: auto;
  margin: 10px;
}

.right-side {
  margin-bottom: 10px;
}

.button {
  display: block;
  align-self: flex-end;
  color: #ffffff;
  font-size: 16px;
  background-color: #024059;
  border: none;
  padding: 2px;
  margin: 0 auto;
  min-width: 50%;
  min-height: 50px;
}

.cta-button {
  display: block;
  text-align: center;
  line-height: 50px;
  margin: 0 auto;
  margin-top: 10px;
  color: #ffffff;
  text-decoration: none;
  background-color: #7fa644;
  border: 2px solid #024059;
  padding: 2px;
  max-width: 50%;
  max-height: 50px;
}

.bottom-right {
  margin-bottom: 10px;
}

@media (min-width: 900px) {
  main {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
  }

  .left-side {
    grid-column: 1;
    justify-self: center;
  }

  .right-side {
    margin: 0 auto;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
  }

  .bottom-right {
    display: grid;
    grid-column: 2;
    grid-row: 2;
  }

  .cta-button {
    width: 50%;
  }
}
