h1 a {
  color: #024059;
  text-decoration: none;
  margin-top: 120px;
  margin-left: 100px;
}

.logo {
  position: fixed;
  top: 0%;
  left: 0%;
  margin-left: 10px;
  margin-top: 10px;
}

main {
  background-image: url("../images/homepage.jpg");
  background-color: black;
}

body {
  border-color: #f2d0915c;
  width: 1920px;
  height: 1080px;
}

nav li {
  display: inline-block;
}

nav a {
  text-align: center;
  background-color: #d9a74a;
  text-decoration: none;
  color: #024059;
}

nav a {
  text-decoration: none;
}
