@import url(../styles/imports/layout.css);
@import url(../styles/imports/fonts.css);
@import url(../styles/imports/message.css);
@import url(../styles/imports/forms.css);

:root {
  --grayColor: #c6c6c6;
  --lightGrayColor: #e1e1e1;
  --currentPage: #d9a74a;
  --cta: #024059;
  --ctaLinearGradient: linear-gradient(90deg, #024059, #045e82);
  --ctaHover: linear-gradient(90deg, #03597a, #0777a3);
}

/* Home page - intro */

.index-main {
  border: 5px solid #024059;
}

.homepage-photo {
  box-sizing: border-box;
  background-image: url(../images/update/hp-intro1.jpg);
  background-position: top center;
  background-size: cover;
  min-height: 70vh;
  display: flex;
}

.hp-photo-card {
  width: 300px;
  padding: 2em;
  background-color: rgba(36, 36, 36, 0.6);
  display: flex;
  align-self: center;
  flex-direction: column;
  margin-left: 3rem;
  border-radius: 10px;
}

.hp-photo-card-mobile {
  display: none;
}

.hp-h1 {
  margin: 0;
  color: white;
}

.slogan {
  color: #04a8eb;
  margin-top: 0;
}

.hp-photo-intro {
  color: white;
  width: 70%;
}

/* Homepage - Bestsellers */

.bestsellers h2 {
  font-size: 37px;
  color: #024059;
  text-align: center;
  margin-top: 100px;
}

.bestseller-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;
  padding-bottom: 100px;
}

.bestsellers-photos {
  box-shadow: 8px 5px 12px 0px rgba(59, 59, 59, 0.75);
  border-radius: 5px;
  width: 150px;
  height: 200px;
  padding: 5px;
}

.bestsellers-photos:hover {
  box-shadow: 10px 10px 26px 0px rgba(32, 32, 32, 0.75);
}

/* Homepage - left/right photo */

.photo-section {
  display: flex;
  color: white;
  margin-bottom: 15em;
}

.hp-h2 {
  margin-bottom: 3em;
}

.hp-h3 {
  font-size: 2rem;
}

.left-photo-section,
.right-photo-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-photo-section {
  background-image: url(../images/update/left-photo.jpg);
  margin: 0 5px 0 5px;
}

.right-photo-section {
  background-image: url(../images/update/right-photo.jpg);
  margin: 0 5px 0 5px;
}

/* list of jackets */

.grid-area {
  border: 5px solid #024059;
  text-align: center;
}

.grid-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10%;
  margin-bottom: 10%;
}

.jacket-card {
  text-align: center;
  padding: 10px;
  color: #024059;
  margin: 30px;
  box-shadow: 8px 5px 12px 0px rgba(59, 59, 59, 0.75);
  border-radius: 5px;
}

a {
  text-decoration: none;
  color: #024059;
}

.jacket-card:hover {
  box-shadow: 10px 10px 26px 0px rgba(32, 32, 32, 0.75);
}

/* API styling */

.listOfPictures {
  max-width: 200px;
  padding: 10px;
}

/* Specific Jacket */

.specific-main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 5px solid #024059;
  padding-top: 5%;
  padding-bottom: 5%;
  margin: 0 5px;
}

.specificJacket-info {
  margin: 0 10px;
}

.specificjacket-picture {
  box-shadow: 8px 5px 12px 0px rgba(59, 59, 59, 0.75);
  border-radius: 5px;
  width: 450px;
  margin: 10px;
  padding: 10px;
}

.align {
  margin-top: 20px;
  display: block;
  text-align: center;
}

/* Checkout */

.contact-form {
  margin: 0 20px;
}

.checkout-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 5% 0;
  margin-top: 10em;
}

.picture {
  max-width: 20rem;
  margin-right: 10px;
}

.centeringButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Checkout Sucsess */

.sucsess-main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 10em;
}

.sucsess-info {
  margin: 10px;
}

.order {
  border: 3px solid #024059;
  padding: 10px 10px 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
}

.pictures {
  min-height: auto;
  max-width: 100px;
  margin: 10px;
}

/* About page */

.about-main {
  border: 5px solid #024059;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10%;
  margin-top: 10em;
}

.big-logo {
  display: block;
  margin: 0 auto;
}

.about-logo {
  font-size: 10vh;
  margin-bottom: 20px;
}

.saying {
  font-weight: bold;
  font-size: 3vh;
}

.about {
  font-size: 1.2rem;
}

/* User page */

.user-main {
  width: 60%;
  margin: 0 auto;
}

.userContainer {
  border: 5px solid #024059;
  padding: 50px;
  margin-top: 10em;
  text-align: center;
}

.userContainer h2 {
  text-align: center;
}

/* Media Queries */

@media (max-width: 840px) {
  .homepage-photo {
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 34.9vh;
  }

  .hp-photo-card {
    width: 200px;
    padding: 1em;
  }

  .hp-h1 {
    font-size: 2rem;
  }

  .hp-photo-intro {
    width: 90%;
  }

  .photo-section {
    flex-direction: column;
    height: 70vh;
    gap: 10px;
  }

  .left-photo-section,
  .right-photo-section {
    height: 100vh;
  }

  .specificjacket-picture {
    width: 250px;
    height: 300px;
  }

  .contactForm {
    width: 80%;
  }
}

@media (max-width: 550px) {
  main {
    margin-left: 50px;
    margin-right: 50px;
  }

  h2 {
    font-size: 2rem;
  }

  .specificjacket-picture,
  .big-logo,
  .about-text,
  .picture {
    width: 150px;
    height: 200px;
  }
  .about-text {
    font-size: 50px;
  }
}

@media (min-width: 800px) {
  .drop-down {
    display: block;
  }
}

@media screen and (min-width: 200px) and (max-width: 800px) {
  .page-layers {
    margin-top: 50px;
  }

  .page-layers ul {
    margin: 0 0 10px 0;
  }

  .drop-down li {
    width: 100%;
  }

  ul.drop-down.active {
    width: 100%;
  }

  ul.drop-down.active a {
    text-align: left;
  }

  .page-layers a {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding-left: 10px;
    background-color: #d8d6d6;
    color: black;
    border-bottom: 1px solid var(--lightGrayColor);
  }

  #arrow-down {
    display: block;
  }

  footer p {
    font-size: 13px;
  }
}
@media screen and (min-width: 200px) and (max-width: 650px) {
  .page-layers ul {
    top: 26px;
  }

  .userContainer {
    padding: 10px;
  }

  .hp-photo-card {
    display: none;
  }

  .hp-photo-card-mobile {
    background-color: var(--cta);
    display: block;
    padding: 10px;
  }
}

@media (max-width: 550px) {
  .primary-nav li {
    padding: 0 10px;
  }
}

@media (max-width: 450px) {
  .fa-shopping-cart {
    color: #525252;
    font-size: 1.5rem;
  }

  .logo-img {
    width: 30px;
  }

  .listOfPictures {
    max-width: 150px;
  }

  .contactForm {
    width: 95%;
  }

  .listOfPictures {
    max-width: 100px;
  }

  .hp-h3,
  .checkout-h2,
  h2 {
    font-size: 1.5rem;
  }

  .pictures {
    max-width: 80px;
  }
}

@media (max-width: 350px) {
  .primary-nav li a {
    font-size: 0.9rem;
  }

  .logo-img {
    padding: 0;
  }
}
