h1 a {
  color: #024059;
  text-decoration: none;
  margin-top: 20%;
}

.logo {
  position: absolute;
  top: 0%;
  left: 0%;
  margin-left: 10px;
  margin-top: 10px;
}

.slogan {
  color: #024059;
  margin-top: 30px;
  margin-left: 85px;
}

.slogan, h1 {
  
}

ul {
  text-align: center;
  height: 22px;
}

nav li {
  display: inline-block;
}

nav a {
  display: inline-block;
  background-color: #d9a74a;
  text-decoration: none;
  color: #024059;
  padding: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 150px;

}

main {
  background-image: url("../images/homepage.jpg");
  background-repeat: no-repeat;
  background-position: center;
  border: 10px solid #024059;
}

.homepage-photo {
}

h2 {
  color: #024059;
  text-align: center;
}

.bestsellers {
  display: block;
}

.bestsellers-photos {
  color: #024059;
  width: 150px;
  height: 200px;
  border: 7px solid #b4d9d5;
  padding: 5px 5px 5px 5px;
}